.positioning {
	position: absolute;
	top: -30em;
	left: -300em;
}

div#navBar {
	margin: 0;
	padding: .3em 0 .3em 0;
	background: blue;
	width: 100%;
	text-align: center;
}

div#navBar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div#navBar ul li {
	margin: 0;
	padding: 0;
	display: inline;
}

div#navBar ul a:link {
	margin: 0;
	padding: .3em .4em .3em .4em;
	text-decoration: none;
	font-size: medium;
	font-weight: bold;
}